.bigBox {
    width: 1450px;
    height: auto;
    min-height: 800px;
    border: 1px solid #cccccc;
    background-image: url("../images/tileable_wood_texture_@2X.png");
    background-repeat: repeat-x repeat-x;
    margin: auto;
}


body {
    width: 960px;
    background-color: whitesmoke;
}

header{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
    border-bottom: 2px solid #cccccc;
    position: relative;
    top: -21px;

}

#headerContent {
    width: 960px;
    margin: auto;
}

#nameBox{
    float: left;
    background-color: #4aaaa5;
    height: 60px;
    width: 300px;
    color:white;
    padding-top: 20px;
}
.navLinks{
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 30px;
    padding-right:30px ;
}

.navLinks a {
    margin: 10px;
    text-decoration: none;
    color: #cccccc;
}


.aboutMe {
    margin-top: 30px;
    color:#4aaaa5
}

section{
    border: #cccccc;
    border-style: solid;
    padding: 13px;
    width: 930px;
    margin: auto;
    background-color: #ffffff;
    min-height: 500px;
}
    
img {
    width: 150px;
    height: auto;
    float: left;  
    padding: 25px;
}
.portImg{
    clear: both;
    width: 30%;
    height: auto;
    padding: 15px 0 0 0;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2;
    color: #777777;
    letter-spacing: 1.5;
}

footer{
    clear: both;
    position: fixed;
    bottom: 0;
    width: 1450px;
    height: 64px;
    background-color: #777777;
    text-align: center;
    margin: auto;
    border-top: 8px solid #4aaaa5;
}

.copyright {
    padding-top: 35px;
    font-size: small;
    text-align: center;
    color: #cccccc
}

input {
    width: 100%;
    height: 25px;
    
}

 form #message  {
    height: 100px;
}

.button {
    background-color: #4aaaa5;
    color: white; 
    font-size: 12px;
    padding: 15px 32px;  
    margin: 4px 2px;
}
h4 {
    color: white;
    text-align: center;
}
.imgNamebar {
    clear: both;
    padding-top: 10px;
    position: relative;
    bottom: 100px;
    width: 279px;
    height: 45px;
    color:white;
    background-color: #4aaaa5;
    z-index: 100;
    
}
@media screen and (max-width: 980px) {
    .max-width {
      background-color: red;
    }
  }
  @media screen and (max-width: 748px) {
    .max-width {
      width: 30%;
    }
  }
  
  @media screen and (max-width: 640px) {
    .bigBox {
        width: 600px;
    }
    footer  {
      width:100%;
    }
    section {
        margin: 10px;
        width: 560px;
        padding-left: 10px;
        padding-right: 10px;
        p: 50%;
    }
    header {
        width: 100%;
        margin: 0;
        text-align:0;
        
    }
    .headerContent {
        width: 640px;
    }
    .navLinks {
        float: left;
    }
}
  